<h1> <%= @garage.name %> Customers</h1>

<% @customers.each do |customer| %>
  <h2><%= customer.name %></h2>

  <p>License plate: <%= customer.license_plate %></p>

  <p>Member since: <%= customer.member_since %></p>

  <p>Currently parked: <%= customer.currently_parked %></p><br/>
<% end %>