<h1> <%= @garage.name %> </h1>
<p> name: <%= @garage.name %> <p>
<p> id: <%= @garage.id %> <p>
<p> address: <%= @garage.address %> <p>
<p> cost: <%= @garage.cost %> <p>
<p> at_capacity: <%= @garage.at_capacity %> <p>
<p> spot_count: <%= @garage.spot_count %> <p>
<p> created_at: <%= @garage.created_at %> <p>
<p> updated_at: <%= @garage.updated_at %> <p>