<h1> <%= @garage.name %> </h1>
<a href='/garages/<%= @garage.id %>/edit'>Update Garage</a>
<%= button_to 'Delete Garage', "/garages/#{ @garage.id }", method: :delete %>
<%= link_to "Delete Garage", "/garages/#{ @garage.id }", method: :delete%>

<p> address: <%= @garage.address %> </p>
<p> cost: <%= @garage.cost %> </p>
<p> multi-level: <%= @garage.multi_level %> </p>
<p> spot count: <%= @garage.spot_count %> </p>