<h1> <%= @garage.name %> </h1>
<a href='/garages/<%= @garage.id %>/edit'>Update Garage</a>
<p> address: <%= @garage.address %> </p>
<p> cost: <%= @garage.cost %> </p>
<p> at_capacity: <%= @garage.at_capacity %> </p>
<p> spot_count: <%= @garage.spot_count %> </p>