<h1><%= @customer.name %></h1>
<h3>Menu</h3>
<ul>
  <li><%= link_to "All Customers", customers_path %></li><br/>
  <li><%= link_to "All Garages", garages_path %></li><br/>
</ul>
<hr>
<h3>Details</h3>
<%= link_to "Delete", "/customers/#{ @customer.id }", method: :delete %><br/>
<p>License plate: <%= @customer.license_plate %></p>
<p>Member since: <%= @customer.member_since %></p>
<p>Parking Garage: <%= @customer.garage.name %></p>
<p>Currently parked: <%= @customer.currently_parked %></p>