<h1><%= @customer.name %>
<p>License plate: <%= @customer.license_plate %></p>
<p>Member since: <%= @customer.member_since %></p>
<p>Parking Garage: <%= @customer.garage.name %></p>
<p>Currently parked: <%= @customer.currently_parked %></p>