<h1> Edit School </h1>
<%= form_tag "/schools/#{@school.id}", method: :patch do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, "#{@school.name}" %> 

  <%= label_tag :number_of_teachers %>
  <%= text_field_tag :number_of_teachers, "#{@school.number_of_teachers}" %>

  <%= label_tag :is_public %>
  <%= text_field_tag :is_public, "#{@school.is_public}" %>

  <%= submit_tag 'Update School' %>
<% end %>